# dependencies
/node_modules

# testing
/coverage

# production
/build

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

.git
.env